CA_COUNTRY_NAME='RU'
CA_STATE_OR_PROVINCE_NAME='Moscow'
CA_LOCALITY_NAME='Moscow'
CA_ORGANIZATION_NAME='YourCompany'
CA_ORGANIZATIONAL_UNIT_NAME='YourDept'
CA_EMAIL_ADDRESS='admin@yourdomain.com'
CERT_COUNTRY_NAME='RU'
CERT_STATE_OR_PROVINCE_NAME='Moscow'
CERT_LOCALITY_NAME='Moscow'
CERT_ORGANIZATION_NAME='YourCompany'
CERT_ORGANIZATIONAL_UNIT_NAME='YourDept'
CERT_EMAIL_ADDRESS='admin@yourdomain.com'
